.stacked_icon {
  display: grid;
  grid-template-columns: 1fr;

  i {
    grid-row-start: 1;
    grid-column-start: 1;
    align-self: center;
    justify-self: center;
  }
  i.red {
    color: red;
    text-shadow: 0 0 2px black;
  }
  i.medium {
    font-size: 36px;
  }
  i.larger {
    font-size: 48px;
  }
}
